footer{
  background: $footer;
  padding: 30px 60px;
  @media #{$M900}{
  padding: 30px;
}
  .col-md-to-5{
    width: 20%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    @media #{$M900}{
      width: 100%;
    }
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        margin: 5px 0;
        a{
          margin-bottom: 10px;
          color: $indicadores-gray;
          letter-spacing: 1px;
        }
      }
    }
  }
  #copy{
    border-top: solid 1px $tooltip;
    margin-top: 25px;
    padding: 20px 0;
    .col-md-12{
      p{
        margin: 0;
        padding: 0;
      }
      span{
        a{
          color:$green1;
          font-weight: 600;
        }
      }
    }
  }
}