header{
  position: relative;
  /*min-height: 160px;*/
  z-index: 999;
  .navbar{
    min-height: 8.4vw;
  }
  .navbar-absolute {
    position: absolute;
    width: 100%;
  }
  .navbar-brand{
    height: 8.4vw;
    padding: 2rem 3rem;
    @media #{$M500}{
      height: 20vw;
      padding: 1rem;
    }
    img{
      width: 5.73vw;
      @media #{$M500}{
        width: 20vw;
      }
    }
  }
}