/*COLORS*/
$green1: #259558;
$green2: #369443;
$dark-yellow: #babf10;
$orange: #d98616;
$blue: #5fa8ec;
$dark-gray: #c7c7c7;
$light-gray: #f3f4f5;
$white: #fff;
$white-opacity: rgba(255, 255, 255, 0.4);
$tooltip: rgba(171, 171, 171, 0.5);
$bg-news: #4B515D;

$line-grid-orange: #F28800;
$line-grid-blue: #00A5EF;
$line-grid-darkblue: #014F8D;
$line-grid-yellow: #B1B801;
$line-grid-green: #00953B;

$indicadores-green: #00B000;
$indicadores-red: #BC062A;
$indicadores-gray: #676C76;


$footer: #F6F4F5;

/*MEDIA QUERYS*/

$M900:  "screen and (max-width : 900px)" !default;
$M500:  "screen and (max-width : 500px)" !default;


@media screen and (max-width: 900px){
  .wow {
    visibility: visible !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}