@import "fenalco-variables";

@font-face {
  font-family: 'FenalcoIcons';
  src:  url('#{$icomoon-font-path}/FenalcoIcons.eot?55epom');
  src:  url('#{$icomoon-font-path}/FenalcoIcons.eot?55epom#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/FenalcoIcons.ttf?55epom') format('truetype'),
    url('#{$icomoon-font-path}/FenalcoIcons.woff?55epom') format('woff'),
    url('#{$icomoon-font-path}/FenalcoIcons.svg?55epom#FenalcoIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'FenalcoIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Flfacebook {
  &:before {
    content: $Flfacebook;
  }
}
.Flicon-1 .path1 {
  &:before {
    content: $Flicon-1-path1;  
    color: rgb(95, 168, 236);
  }
}
.Flicon-1 .path2 {
  &:before {
    content: $Flicon-1-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Flicon-1 .path3 {
  &:before {
    content: $Flicon-1-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Flicon-1 .path4 {
  &:before {
    content: $Flicon-1-path4;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Flicon-2 .path1 {
  &:before {
    content: $Flicon-2-path1;  
    color: rgb(186, 191, 16);
  }
}
.Flicon-2 .path2 {
  &:before {
    content: $Flicon-2-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Flicon-2 .path3 {
  &:before {
    content: $Flicon-2-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Flicon-2 .path4 {
  &:before {
    content: $Flicon-2-path4;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Flicon-2 .path5 {
  &:before {
    content: $Flicon-2-path5;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Flicon-3 .path1 {
  &:before {
    content: $Flicon-3-path1;  
    color: rgb(217, 134, 22);
  }
}
.Flicon-3 .path2 {
  &:before {
    content: $Flicon-3-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Flicon-3 .path3 {
  &:before {
    content: $Flicon-3-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Flicon-3 .path4 {
  &:before {
    content: $Flicon-3-path4;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Flicon-4 .path1 {
  &:before {
    content: $Flicon-4-path1;  
    color: rgb(54, 148, 67);
  }
}
.Flicon-4 .path2 {
  &:before {
    content: $Flicon-4-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Flline .path1 {
  &:before {
    content: $Flline-path1;  
    color: rgb(243, 244, 245);
  }
}
.Flline .path2 {
  &:before {
    content: $Flline-path2;  
    margin-left: -1em;  
    color: rgb(199, 199, 199);
  }
}
.Fllogo-fenalco .path1 {
  &:before {
    content: $Fllogo-fenalco-path1;  
    color: rgb(37, 149, 88);
  }
}
.Fllogo-fenalco .path2 {
  &:before {
    content: $Fllogo-fenalco-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path3 {
  &:before {
    content: $Fllogo-fenalco-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path4 {
  &:before {
    content: $Fllogo-fenalco-path4;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path5 {
  &:before {
    content: $Fllogo-fenalco-path5;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path6 {
  &:before {
    content: $Fllogo-fenalco-path6;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path7 {
  &:before {
    content: $Fllogo-fenalco-path7;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path8 {
  &:before {
    content: $Fllogo-fenalco-path8;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path9 {
  &:before {
    content: $Fllogo-fenalco-path9;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path10 {
  &:before {
    content: $Fllogo-fenalco-path10;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path11 {
  &:before {
    content: $Fllogo-fenalco-path11;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path12 {
  &:before {
    content: $Fllogo-fenalco-path12;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path13 {
  &:before {
    content: $Fllogo-fenalco-path13;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path14 {
  &:before {
    content: $Fllogo-fenalco-path14;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path15 {
  &:before {
    content: $Fllogo-fenalco-path15;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path16 {
  &:before {
    content: $Fllogo-fenalco-path16;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path17 {
  &:before {
    content: $Fllogo-fenalco-path17;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path18 {
  &:before {
    content: $Fllogo-fenalco-path18;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path19 {
  &:before {
    content: $Fllogo-fenalco-path19;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path20 {
  &:before {
    content: $Fllogo-fenalco-path20;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path21 {
  &:before {
    content: $Fllogo-fenalco-path21;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path22 {
  &:before {
    content: $Fllogo-fenalco-path22;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path23 {
  &:before {
    content: $Fllogo-fenalco-path23;  
    margin-left: -1em;  
    color: rgb(37, 149, 88);
  }
}
.Fllogo-fenalco .path24 {
  &:before {
    content: $Fllogo-fenalco-path24;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path25 {
  &:before {
    content: $Fllogo-fenalco-path25;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path26 {
  &:before {
    content: $Fllogo-fenalco-path26;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path27 {
  &:before {
    content: $Fllogo-fenalco-path27;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path28 {
  &:before {
    content: $Fllogo-fenalco-path28;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path29 {
  &:before {
    content: $Fllogo-fenalco-path29;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path30 {
  &:before {
    content: $Fllogo-fenalco-path30;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path31 {
  &:before {
    content: $Fllogo-fenalco-path31;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path32 {
  &:before {
    content: $Fllogo-fenalco-path32;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path33 {
  &:before {
    content: $Fllogo-fenalco-path33;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path34 {
  &:before {
    content: $Fllogo-fenalco-path34;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path35 {
  &:before {
    content: $Fllogo-fenalco-path35;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Fllogo-fenalco .path36 {
  &:before {
    content: $Fllogo-fenalco-path36;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.Flmenu {
  &:before {
    content: $Flmenu;
  }
}
.Flsearch {
  &:before {
    content: $Flsearch;
  }
}
.Fltwitter {
  &:before {
    content: $Fltwitter;
  }
}
.Flyoutube {
  &:before {
    content: $Flyoutube;
  }
}

