$icomoon-font-path: "../fonts/" !default;

$Flfacebook: "\e900";
$Flicon-1-path1: "\e901";
$Flicon-1-path2: "\e902";
$Flicon-1-path3: "\e903";
$Flicon-1-path4: "\e904";
$Flicon-2-path1: "\e905";
$Flicon-2-path2: "\e906";
$Flicon-2-path3: "\e907";
$Flicon-2-path4: "\e908";
$Flicon-2-path5: "\e909";
$Flicon-3-path1: "\e90a";
$Flicon-3-path2: "\e90b";
$Flicon-3-path3: "\e90c";
$Flicon-3-path4: "\e90d";
$Flicon-4-path1: "\e90e";
$Flicon-4-path2: "\e90f";
$Flline-path1: "\e910";
$Flline-path2: "\e911";
$Fllogo-fenalco-path1: "\e912";
$Fllogo-fenalco-path2: "\e913";
$Fllogo-fenalco-path3: "\e914";
$Fllogo-fenalco-path4: "\e915";
$Fllogo-fenalco-path5: "\e916";
$Fllogo-fenalco-path6: "\e917";
$Fllogo-fenalco-path7: "\e918";
$Fllogo-fenalco-path8: "\e919";
$Fllogo-fenalco-path9: "\e91a";
$Fllogo-fenalco-path10: "\e91b";
$Fllogo-fenalco-path11: "\e91c";
$Fllogo-fenalco-path12: "\e91d";
$Fllogo-fenalco-path13: "\e91e";
$Fllogo-fenalco-path14: "\e91f";
$Fllogo-fenalco-path15: "\e920";
$Fllogo-fenalco-path16: "\e921";
$Fllogo-fenalco-path17: "\e922";
$Fllogo-fenalco-path18: "\e923";
$Fllogo-fenalco-path19: "\e924";
$Fllogo-fenalco-path20: "\e925";
$Fllogo-fenalco-path21: "\e926";
$Fllogo-fenalco-path22: "\e927";
$Fllogo-fenalco-path23: "\e928";
$Fllogo-fenalco-path24: "\e929";
$Fllogo-fenalco-path25: "\e92a";
$Fllogo-fenalco-path26: "\e92b";
$Fllogo-fenalco-path27: "\e92c";
$Fllogo-fenalco-path28: "\e92d";
$Fllogo-fenalco-path29: "\e92e";
$Fllogo-fenalco-path30: "\e92f";
$Fllogo-fenalco-path31: "\e930";
$Fllogo-fenalco-path32: "\e931";
$Fllogo-fenalco-path33: "\e932";
$Fllogo-fenalco-path34: "\e933";
$Fllogo-fenalco-path35: "\e934";
$Fllogo-fenalco-path36: "\e935";
$Flmenu: "\e936";
$Flsearch: "\e937";
$Fltwitter: "\e938";
$Flyoutube: "\e939";

