#services-grid {
  .col-md-3 {
    padding: 0;
    .full-box {
      width: 100%;
      height: 28.5vw;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      p{
        position: absolute;
        bottom: 2vw;
        right: 2vw;
        font-size: 2vw;
        line-height: 2vw;
        color: $white;
        @media #{$M900}{
          bottom: 10vw;
          right: 10vw;
          font-size: 10vw;
          line-height: 10vw;
        }
      }
      span{
        position: absolute;
        width: 50px;
        height: 5px;
        bottom: 2vw;
        right: 2vw;
        @media #{$M900}{
          bottom: 10vw;
          right: 10vw;
        }
      }
      @media #{$M900}{
        height:70vw;
      }
      img{
        width:100%;
        height: 28.5vw;
        @media #{$M900}{
          height:70vw;
        }
      }
    }
    .half-box {
      width: 100%;
      height: 14.25vw;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      p{
        position: absolute;
        bottom: 2vw;
        right: 2vw;
        font-size: 2vw;
        line-height: 2vw;
        color: $white;
        text-align: right;
        @media #{$M900}{
          bottom: 10vw;
          right: 10vw;
          font-size: 10vw;
          line-height: 10vw;
        }
      }
      span{
        position: absolute;
        width: 50px;
        height: 5px;
        bottom: 2vw;
        right: 2vw;
        @media #{$M900}{
          bottom: 10vw;
          right: 10vw;
        }
      }
      @media #{$M900}{
        height:70vw;
      }
      img{
        width:100%;
        height: 14.25vw;
        @media #{$M900}{
          height:70vw;
        }
      }
    }
  }
}
