#indicadores{
  padding: 20px 15px;
  .indicadores-title{
    p{
      font-size: 3rem;
      line-height: 3rem;
      font-weight: 200;
      padding-left: 3rem;
      color: $indicadores-gray;
      span{
        font-weight: bold;
      }
    }
  }
  ul#table-indicadores {
    margin:  0;
    padding:  0;
    list-style:  none;
    li{
      display:inline-block;
      width: auto;
      min-width: 200px;
      padding: 10px 25px 10px 10px;
      margin:0 10px;
      /*border-left:solid 3px gray;*/
      position:  relative;
      &:before{
        /* border-left:solid 3px red; */
        content:'';
        display: block;
        width: 4px;
        height: 30px;
        background: $indicadores-gray;
        position: absolute;
        top: 25%;
        border-radius:  40px;
        left: -5px;
      }
      &.down{
        span{
          color: $indicadores-red;
        }
        &:before{
          /* border-left:solid 3px red; */
          content:'';
          display: block;
          width: 4px;
          height: 30px;
          background: $indicadores-red;
          position: absolute;
          top: 25%;
          border-radius:  40px;
          left: -5px;
        }
      }
      &.up{
        span{
          color: $indicadores-green;
        }
        &::before{
          /* border-left:solid 3px red; */
          content:'';
          display: block;
          width: 4px;
          height: 30px;
          background: $indicadores-green;
          position: absolute;
          top: 25%;
          border-radius:  40px;
          left: -5px;
        }
      }
      p{
        margin: 0;
        font-size: 2rem;
        color: $indicadores-gray;
        font-weight: 400;
      }
      span{
        color:$indicadores-gray;
      }
    }
    .owl-nav{
      position:absolute;
      right: -70px;
      top:0;
      height:100%;
      @media #{$M900}{
        right: 0;
      }
      .owl-prev{
        display:none;
      }
      .owl-next{
        margin-top: 5px;
        font-size:4rem;
      }
    }
  }
}