.new-nav{
  input[type="checkbox"] {
    position: absolute;
    height: 0;
    width: 0;
    display: none;

    &:checked {
      & ~ .menu {
        nav {
          visibility: visible;
          li {
            -webkit-transform: translate3d(0px, 0, 0) rotateY(0deg);
            transform: translate3d(0px, 0, 0) rotateY(0deg);

            -webkite-transform-style: preserve-3d;
            transform-style: preserve-3d;

            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;

            background: $green2;
            color: $white;

            &:nth-child(2) {
              -webkit-transition-delay: 0.1s;
              transition-delay: 0.1s;
            }

            &:nth-child(3) {
              -webkit-transition-delay: 0.2s;
              transition-delay: 0.2s;
            }

            &:nth-child(4) {
              -webkit-transition-delay: 0.3s;
              transition-delay: 0.3s;
            }

            &:nth-child(5) {
              -webkit-transition-delay: 0.4s;
              transition-delay: 0.4s;
            }

            &:nth-child(6) {
              -webkit-transition-delay: 0.5s;
              transition-delay: 0.5s;
            }

            &:nth-child(7) {
              -webkit-transition-delay: 0.6s;
              transition-delay: 0.6s;
            }

            &:nth-child(8) {
              -webkit-transition-delay: 0.7s;
              transition-delay: 0.7s;
            }
          }
        }
      }
    }
  }

  section {
    &.menu {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: -4rem;
      min-height: 100%;

      nav {
        padding-top: 20vh;
        -webkit-perspective: 20rem;
        perspective: 20rem;
        position: fixed;
        visibility: hidden;//

        li {
          display: block;
          position: relative;
          width: 20rem;

          padding: 1.25rem 0rem 1.25rem 1.75rem;
          background: #222;
          border-bottom: 1px solid #2a2a2a;
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15), inset 2px 0 0 $orange;

          a {
            color: #fff;
            letter-spacing: 1.5px;
            font-weight: 300;
            font-size: 1.25rem;
            text-decoration: none;
          }

          -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
          transform: translate3d(-100%, 0, 0) rotateY(90deg);

          -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;

          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

          -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;

          &:nth-child(1) {
            -webkit-transition-delay: 0.235s;
            transition-delay: 0.235s;
          }

          &:nth-child(2) {
            -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
          }

          &:nth-child(3) {
            -webkit-transition-delay: 0.165s;
            transition-delay: 0.165s;
          }

          &:nth-child(4) {
            -webkit-transition-delay: 0.13s;
            transition-delay: 0.13s;
          }

          &:nth-child(5) {
            -webkit-transition-delay: 0.095s;
            transition-delay: 0.095s;
          }

          &:nth-child(6) {
            -webkit-transition-delay: 0.06s;
            transition-delay: 0.06s;
          }

          &:nth-child(7) {
            -webkit-transition-delay: 0.25s;
            transition-delay: 0.025s;
          }
          &:hover {
            ul {
              display: block;
            }
          }
          ul {
            display: none;
            position: absolute;
            left: 16rem;
            top: 0;
            li {
              a {
                color: $white;
              }
            }
          }
        }
      }
    }

    &.content {
      position: relative;
      float: right;
      width: auto;
      max-width: 80%;
      top: 2rem;
      right: 3rem;
      @media  #{$M500}{
        top: 1rem;
        right: 0rem;
      }
      label {
        position: relative;
        z-index: 1000;
        padding: 2px 3rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: #fff;
        cursor: pointer;
        float: right;
        max-height: 60px;
        @media #{$M500}{
          padding: 2px 1rem;
          font-size: 1rem;
          line-height: 1rem;
        }
        i{
          font-size: 4rem;
          position: relative;
          left: -10px;
          top: 10px;
          @media #{$M500}{
            font-size: 2.5rem;
            left: -4px;
            top: 8px;
          }
        }
      }
      * {
        box-sizing: border-box;
      }
      .search {
        width: 75px;
        height: 60px;
        margin: 0;
        /*background-color: #242628;*/
        position: relative;
        overflow: hidden;
        transition: all .5s ease;;
        float: right;
        border-right: solid 1px $white-opacity;
        @media #{$M500}{
          width: 60px;
          height: 45px;
        }

        &:before {
          content: '';
          display: block;
          width: 3px;
          height: 100%;
          position: relative;
          /*background-color: $icon-color;*/
          transition: all .5s ease;;
        }
        &.open {
          width: 420px;
          @media #{$M500}{
            width: 190px;
          }
          .search-icon{
            margin: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            top: 25%;
            &:before {
              transform: rotate(52deg);
              right: 12px;
              top: 11.3px;
              height: 8px;
            }
            &:after {
              transform: rotate(-230deg);
              right: 12px;
              top: 7px;
              height: 8px;
            }
          }
          &:before {
            height: 40px;
            margin: 10px 0 10px 30px;
            position: absolute;
            background-color: $white;
            @media #{$M500}{
              margin: 10px 0 10px 10px;//
            }
          }
        }
      }

      .search-box {
        width: 100%;
        height: 100%;
        box-shadow: none;
        border: none;
        background: transparent;
        color: #fff;
        padding: 10px 100px 10px 45px;
        font-size: 33px;
        @media #{$M500}{
          padding: 10px 45px 10px 20px;
          font-size: 20px;
        }
        &:focus {
          outline: none;
        }
      }

      .search-button {
        width: 75px;
        height: 60px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 20px;
        cursor: pointer;
        @media #{$M500}{
          width: 60px;
          height: 45px;
        }
      }

      .search-icon {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1.5px solid $white;
        display: block;
        position: absolute;
        margin-left: 5px;
        transition: all 0.5s ease;
        top: 33.333%;
        &:before {
          content: '';
          width: 1.5px;
          height: 5px;
          position: absolute;
          right: 0px;
          top: 15px;
          display: block;
          background-color: $white;
          transform: rotate(-45deg);
          transition: all 0.5s ease;
        }
        &:after {
          content: '';
          width: 1.5px;
          height: 5px;
          position: absolute;
          right: -3px;
          top: 18px;
          display: block;
          background-color: $white;
          transform: rotate(-45deg);
          transition: all 0.5s ease;
        }
      }
    }
    .rrss-nav{
      position: relative;
      float: right;
      @media#{$M500}{
        display: none;
      }
      ul{
        margin: 0;
        padding: 0;
        li{
          padding-top: 15px;
          display: inline-block;
          min-height: 60px;
          max-height: 60px;
          a{
            height: 60px;
            max-height: 60px;
            color: $white;
            font-size: 1.5em;
            padding: 8px;
          }
        }
      }
    }
  }
}