#slider-news{
  .col-md-4{
    padding: 0;
    .news{
      padding: 4rem 0;
      background-color: $bg-news;
      min-height: 61.3vh;
      max-height: 61.3vh;
      p{
        padding: 0 4rem;
        font-size:2.5vw;
        color:white;
        font-weight:100;
        position:  relative;
        @media #{$M900}{
          font-size: 7.5vw;
        }
        span{
          position: absolute;
          width: 50px;
          height: 5px;
          bottom: -5px;
          left: 53%;
          background:  $line-grid-green;
        }
      }
      ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
          border-bottom: solid 1px rgba(255, 255, 255, 0.2);
          padding: 1.5vw 4rem;
          p{
            font-size: 1vw;
            color: $green2;
            font-weight: 600;
            margin: 0;
            padding: 0;
            @media #{$M900}{
              font-size: 4vw;
            }
          }
          a{
            color: white;
            font-weight: 600;
            font-size: 1.27vw;
            line-height: 1.27vw;
            @media #{$M900}{
              font-size: 4.27vw;
              line-height:  4.27vw;
            }
          }
          &:last-child{
            border-bottom: none;
          }
        }
      }
    }
  }
}