.slider{
  /*&:before{
    content: '';
    width: 100%;
    display: block;
    height: 60vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }*/
}
div#rev_slider_1_1_wrapper {
  height: 60vh !important;
}

div#rev_slider_1_1 {
  height: 60vh !important;
  max-height: 60vh !important;
}

.tp-fullwidth-forcer {
  height: 60vh !important;
}
/*.rev_slider .slotholder:after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.8);
}*/
.rs-background-video-layer:before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  content: " ";
  z-index: 99999;
}

.slider1-title {
  width: 100% !important;
  position: relative;
  top: 6vw !important;
  left: 0 !important;
  text-align: center !important;
  height: auto;
  @media #{$M500}{
    top: 20vw !important;
    left: 0px !important;
    width: 80% !important;
    margin: 0 auto !important;
  }
}
.slider1-title p{
  font-size: 4vw !important;
  line-height: 2.9vw !important;
  text-align: center !important;
  font-family: "Barlow",sans-serif;
  font-weight: 200 !important;
  letter-spacing: 3px !important;
  @media #{$M500}{
    font-size: 11vw !important;
    line-height: 10vw !important;
    white-space: normal;
  }
}
.slider1-title span{
  font-size: 2.9vw !important;
  line-height: 2.9vw !important;
  text-align: center !important;
  font-weight: 100 !important;
  letter-spacing: 7px !important;
  color: rgba(255, 255, 255, 0.5) !important;
  @media #{$M500}{
    letter-spacing: 4px !important;
    white-space: normal;
    font-size: 7vw !important;
    line-height: 6vw !important;
  }
}