#slider-news{
  .col-md-8{
    padding:0;
    .slider-2{
      .rev_slider_wrapper{
        min-height: 61.3vh;
        max-height: 61.3vh;
        .rev_slider{
          min-height: 61.3vh;
          max-height: 61.3vh;
          .tp-revslider-mainul{
            min-height: 61.3vh;
            max-height: 61.3vh;
          }
        }
      }
    }
  }
}