.toltips-home{
  position: absolute;
  top: 10vw;
  left: 3rem;
  z-index: 998;
  @media #{$M500}{
    top: 35vw;
    left: 1rem;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      width: 20vw;
      a{
        font-size: 3vw;
        @media #{$M500}{
          font-size: 10vw;
        }
        &:hover,&:focus{
          text-decoration: none;
        }
      }
    }
  }
}